@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(199, 224, 247);
}
.clock{
    height: 25vw;
    width: 25vw;
    background-color: rgb(221, 225, 247);
    border-radius: 51px;
    position: relative;
    box-shadow: 10px 10px 12px rgba(89, 88, 88, 0.2),
    inset 15px 15px 10px rgba(255, 255, 255, 0.8),15px 15px 35px rgba(205, 202, 202, 0.5) ,
    inset -1px -1px 10px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.clock .dial{
    position: absolute;
    height: 19vw;
    width: 19vw;
    background-color: rgb(60, 62, 78);
    border-radius: 50%;
    box-shadow: 7px 7px 9px rgba(232, 230, 230, 0.3),
    inset 7px 7px 9px rgba(33, 33, 33, 0.9),7px 7px 12px rgba(56, 55, 55, 0.8);

}
.clock .dial::before{
    content: "";
    position: absolute;
    inset: 31px;
    background: linear-gradient( rgb(249, 73, 73),rgb(86, 86, 252),rgb(120, 236, 120),rgb(235, 235, 114),rgb(230, 121, 121));
    border-radius: 50%;
    animation: animate 2s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.clock .dial::after{
    content: "";
    position: absolute;
    inset: 37px;
    background: rgb(60, 62, 78);
    border-radius: 50%;
    animation: animate 2s linear infinite;
}
.clock .dial >span{
    position: absolute;
    color: white;
    font-size: 19px;
    font-weight: 600;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.dial .n12{
    position: fixed;
    position: absolute;

    top: 3px;
    left: 137px;
}
.dial .n3{
    position: fixed;
    position: absolute;

   right: 3px;
    top: 137px;
}
.dial .n6{
    position: fixed;
    position: absolute;

   bottom: 3px;
    left: 137px;
}
.dial .n9{
    position: fixed;
    position: absolute;

    left: 3px;
    top: 137px;
}
.hands{
    position: relative;
    position: absolute;
    background-color: white;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: 1;
}
.hrs{
    position: absolute;
    height: 64px;
    width: 5px;
    background-color: greenyellow;
    top: -59px;
    left: 4.2px;
    transform-origin: bottom;
    /* transform: rotate(90deg) */
    border-radius: 10px;
    

}
.hrs::before{
    content: "";
    display: inline-block;
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: greenyellow;
    top: -75px;
}
.mins{
    position: absolute;
    background-color: yellow;
    height: 77px;
    width: 3px;
    top: -72px;
    left: 4.6px;
    transform-origin: bottom;
    /* transform: rotate(90deg) */
    border-radius: 10px;

}
.mins::before{
    content: "";
    display: inline-block;
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: yellow;
    top: -63px;
}
.secs{
    position: absolute;
    background-color: red;
    height: 87px;
    width: 3px;
    top: -84px;
    left: 4.6px;
    transform-origin: bottom;
    /* transform: rotate(90deg) */
    border-radius: 10px;

}
.secs::before{
    content: "";
    display: inline-block;
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
    top: -55px;
}